@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap');

body{
      font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    padding: 0%;
    margin:0%;
    background-color: #393D7E;
    color:white;
}
#title{
    display: flex;
    justify-content: center;

}
.container{
    display: flex;
    margin: 4%;
    align-items: center;
    flex-direction: column;
}
.btns{
    width: 40%;
    display: flex;
    gap: 10px;
    justify-content: center;

}

input[type = 'submit']{
    font-size: 1rem;
    width: 20%;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius:5%;
    transition: transform  0.6s ease-out , background-color 0.3s ease-in;
}

input[type = 'submit']:hover{
    transform: scale(1.1);
    background-color: #6DC3BB;
    color: white;
}
input[type = 'text']{
    font-size: 1.5rem;
    border: none;
    outline: none;
    background-color: #ffffff;
    color: #333;
    padding: 12px 14px;
        transition: box-shadow 0.3s ease;


}

input[type='text']:focus {
    box-shadow: 0px 0px 6px #F2AEBB;
}

header{
    background-color: #F2AEBB;
    padding: 1%;
    box-shadow: 1px 3px 1px  rgb(203, 203, 203);
}

#title{
    animation: spin 3s ease-out 0.4s infinite ;
}
